ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

}

#container strong {
  font-size: 20px;
  line-height: 26px;
}


#container p {
  font-size: 16px;
  line-height: 22px;
  color: #f1ebeb;
  margin: 0;
}

#container a {
  text-decoration: none;

}
.haber{
 width: 340px;
 height: 389px;

}
#ana_div{
  height: 300px;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}
.large-title {
  color: red;
  font-size: 30px;
  font-style: bold;
  padding-left: 130px;
  padding-top: 100px;


}
.large{
  color: black;
  font-size: 30px;
  font-style: bold;
padding-left: 2px;
 padding-top: 100px;

}

.ad{
  margin: 18px;
  margin-top: 38px;
  border-style:ridge;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 12px;
  width: 330px;
}
.ad1{
  margin: 18px;
  margin-left: 12px;
  border-style:ridge;
  width: 330px;
  border-radius: 10px;
  font-size: 20px;

}
.ad2{
  margin: 18px;
  margin-left: 12px;
  width: 330px;
  border-style:ridge;
  border-radius: 10px;
  font-size: 20px;
}

.buton{

  margin: 14px;
  font-size: 20px;
height: 50px;
margin-left: 60px;
 margin-right: 40px;

  width: 250px;



}
.buton:hover {

  background-color:rgb(109, 100, 100);
  border-radius: 5px;
}
.buton1{




  margin: 14px;
  font-size: 20px;
height: 50px;
margin-left: 60px;
 margin-right: 40px;

  width: 250px;




}
.buton1:hover {
  background-color: rgb(94, 88, 88);
 border-radius: 5px;
}

.sifreunuttum{
  margin: 38px;
  margin-left: 60px;

  width: 250px;
  color:black;
  background-color:white;
  font-size: 20px;
}
