<ion-header  [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">

    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" >


  <table>
    <tr>
      <th class="large-title">haber</th>
      <th class="large">ci</th>
      </tr>
  </table>


 <div>


  <ion-input #username  class="ad"placeholder="  Ad Soyad" > </ion-input>

  <ion-input  #email type="email" class="ad1" placeholder="  E-mail"> </ion-input>

  <ion-input  #password  type="password" class="ad2"  placeholder="  Şifre" > </ion-input>

  <ion-button   class="buton"  [routerLink]="[ '/giris']" (click)= "bas(username,email,password)" color="dark" expand="block" fill="outline" >
    Kayıt Ol
  </ion-button>

 </div>






    <ion-button class="buton1" [routerLink]="[ '/giris']"    expand="block" fill="outline" color="dark">
      Giris
    </ion-button>



    <button class="sifreunuttum">Şifremi unuttum</button>

 </ion-content>
