#notification-button {
    position: relative;
    width: 42px;
    height: 40px;

    padding-left: 270px;
    padding-top: 5px;
}

.contac{
    position: relative;
    width: 42px;
    height: 40px;
    padding-left: 15px;



}

.birinci{
    color: black;
    padding-left: 15px;
    font-size: 25px;
}
.ikinci{
    color: gray;
    padding-left: 15px;
    font-size: 18px;
}
.ortala{
    margin:10px;
}
.tasarim{
    color: rgb(245, 177, 199);
    border-color: rgb(245, 177, 199);
   border-radius: 5px;
    border-style:solid;

    width: 70px;

}
.badgee{
    margin-left: 270px;


}
.site{
    margin-top: 50px;
    margin-left: 12px;
}
.baslik{
    margin-top: 2px;
    font-size: 12px;
}
.kiraz{
    padding-left: 15px;
}
.sırala{
    padding-left: 15px;
}
.boyutlar{
  height: 40px;
}
.text{
  padding-left: 10px;
}

