.large-title {
    color: red;
    font-size: 30px;
    font-style: bold;
    padding-left: 130px;
    padding-top: 100px;
  
  
  }
  .large{
    color: black;
    font-size: 30px;
    font-style: bold;
  padding-left: 2px;
   padding-top: 100px;
   
  }
  .ad2{
    margin: 18px;
    margin-left: 12px;
    width: 350px;
    border-style:ridge;
    border-radius: 10px;
    font-size: 20px;
  }
  .buton{
  
    margin: 14px;
    font-size: 20px;
  height: 50px;
  margin-left: 60px;
   margin-right: 40px;
   
    width: 250px;
   
    
  
  }
  .buton:hover {
    
    background-color:rgb(109, 100, 100);
    border-radius: 5px;
  }
  .buton1{
    
   
    
  
    margin: 14px;
    font-size: 20px;
  height: 50px;
  margin-left: 60px;
   margin-right: 40px;
   
    width: 250px;
  
    
  
  
  }
  .buton1:hover {
    background-color: rgb(94, 88, 88);
   border-radius: 5px;
  }